.home{
  position: relative;
  height: 100%;
}

.log-container {
  background-color: white;
  height: 500px;
  width: 450px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include for-mobile-layout {
    width: 350px;
    height:80%;
  }
}


.login-container {
  height: 100%;
  .login-title {
    color: $clr5;
    margin-top: 30px;
  }
  .login-description {
    color: $clr8;
    text-align: center;
  }
}

.login-form {
  width: 400px;
  margin-top: 20px;
  .login-form-pass {
    margin-top: 20px;
  }
  .login-btn {
    width: 400px;
    background-color: $clr5;
    height: 55px;
    text-align: center;
    line-height: 55px;
    margin-top: 25px;
    color: $clr1;
    @include for-mobile-layout {
      width: 300px;
    }
  }
  @include for-mobile-layout {
    width: 300px;
    margin-top: 10px;
  }
}

.MuiOutlinedInput-root {
  &.Mui-focused fieldset {
    border-color: $clr5 !important;
  }
}
.MuiInputLabel-root {
  &.Mui-focused {
    color: $clr8 !important;
  }
}
