.search-input {
    flex-basis: 100%;
    border: 0px solid;
    outline: none;
    text-indent: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-btn {
    display: flex;
    justify-content: center;
    min-width: 50px;
    margin: 10px;
}

.search-box {
    height: 47px;
    background-color: $clr1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    flex-basis: 340px;
    @include for-mobile-layout {
        flex-basis: 260px;
        margin-right: 25px;
    }
    @include for-narrow-mobile-layout {
       width: 100%;
       margin: 0;
       flex-basis: auto;
    }
}
