
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../../fonts/Montserrat/Montserrat-Black.ttf);
}

