// Colors

$clr1: #ffffff;
$clr2: #f5f5f7;
$clr3: #dfe3e7;
$clr4: #24292e;
$clr5: #0ec9ae;
$clr6: #f2f4f6;
$clr7: #c8c8d7;
$clr8: #969696;

$clr9:#2D2D2D;

// Breakpoints
$narrow-mobile-breakpoint:400px;
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1160px;
